<h1>My lists</h1>

<div class="row row-cols-3">
  <% @lists.each do |list| %>
    <div class="col">
      <div class="card text-bg-dark" style="width: 18rem;">
        <%= cl_image_tag list.photo.key, :class => 'card-img' %>
        <div class="card-img-overlay">
          <%= link_to list.name, list_path(list), class: 'card-title btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
